# config.yaml
files:
  - path: "Gui/generated/setup_scr_screen.c"
    operations:
      - type: "replace"
        pattern: "&lv_font_"
        replacement: ""

  - path: "Gui/generated/setup_scr_screen_file.c"
    operations:
      - type: "replace"
        pattern: "&lv_font_"
        replacement: ""

  - path: "Gui/generated/setup_scr_screen_paint.c"
    operations:
      - type: "replace"
        pattern: "&lv_font_"
        replacement: ""
  - path: "Gui/generated/setup_scr_screen_serial.c"
    operations:
      - type: "replace"
        pattern: "&lv_font_"
        replacement: ""

  - path: "Gui/generated/gui_guider.c"
    operations:
      - type: "replace"
        pattern: "&lv_font_"
        replacement: ""

      - type: "insert_after"
        pattern: "#include \"widgets_init.h\""
        insert_text: "\n#include \"custom.h\""

  - path: "Core\\Src\\rtc.c"
    operations:
      - type: "insert_after"
        pattern: "/\\*\\* Enable the Alarm A\\s*\\n\\s*\\*/"
        insert_text: "  alarm:"

  - path: "Core\\Src\\main.c"
    operations:
      - type: "replace"
        pattern: "void HAL_TIM_PeriodElapsedCallback"
        replacement: "__weak void HAL_TIM_PeriodElapsedCallback"

  - path: "FATFS\\Target\\sd_diskio.c"
    operations:
      - type: "insert_after"
        pattern: "SDQueueID = osMessageQueueNew\\(QUEUE_SIZE, 2, NULL\\);"
        insert_text: "\n      uint16_t msg = READ_CPLT_MSG; \n      osMessageQueuePut(SDQueueID, (void *)&msg, 0, 0);"
      - type: "replace"
        pattern: "status = osMessageQueueGet\\(SDQueueID, \\(void \\*\\)&event, NULL, SD_TIMEOUT\\);"
        replacement: "status = osMessageQueueGet(SDQueueID, (void *)&event, NULL, 0);"
        